.center {
  text-align: center;
  margin:0 auto;
}

a { color:white; }
a:hover {color:white;}
.main-content {
  position: relative;
  padding-top: 80px;
}

/*Chart Styles*/
#crime-possession { height: 500px; width: 100%; }
#revenue-area { height: 500px; width: 100%; }
#crime-bar { height: 500px; width: 100%; }

#crime-stacked { height: 500px; width: 100%;}
#facilities-donut, #revenue-donut { height: 400px;}
#revenue-bar { height: 300px; }


.dimple-axis text, text.dimple-title, text.dimple-legend  {
  fill: #fff !important;
  font-size: 12px !important;
}

text.dimple-title { font-weight: 500 !important; }
.dimple-marker { opacity: 1 !important; }
.dimple-tooltip { 
  font-size: 14px !important;
  fill: #fff !important;
  stroke: 1px !important;
  text-align: center !important;
}
text.dimple-tooltip {
  fill: #3ba8c6 !important;
  padding: 10px !important;
  margin: 0 auto !important;
  text-align: center !important;
  visibility: visible !important;
}

.domain { 
  stroke: white !important;
  opacity: .3  !important;
}

line {
  stroke: white !important;
  opacity: .3  !important;
}


/* Master Styles */
body {
  color: white;
  background-color: #41a8c4;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
  background-color: #41a8c4;
  text-align: left;
}

/* Share Buttons*/
.share-text {}
.btn-share {
  margin-right: 10px;
  margin-top: 5px;
  width: 48px;
  height:50px;
  display:inline-block;
  border-radius: 6px;
  background-color: #41a8c4;
}

.btn-share:hover {
  border: 1px solid white;
  border-radius: 6px;
}

.fb { background: url('../images/share-1x.png') no-repeat -1px -1px;}
.fb:hover { background-position: -1px -53px; }

.twitter { background: url('../images/share-1x.png') no-repeat -1px -103px; }
.twitter:hover { background-position: -1px -155px; }

.gplus { background: url('../images/share-1x.png') no-repeat -1px -206px; }
.gplus:hover { background-position: -1px -258px; }


/* Infographic */
.infographic {
/*  -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.5);*/
  border: 1px solid  #2F98B4;
  margin-bottom: 80px;

}

.info-group {
}
.info-header {
  background-color: #8dcbdc;
  padding: 20px 40px 20px 40px;
}

.info-title {
  font-size: 2em;
  font-weight: bold;
}
.info-date {
  font-size: 1em;
  padding-left:  20px;
}
.info-data {
  float: right;
  text-align: right;
  padding-top: 13px;
}
.info-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
}

.info-half {
  max-width: 50%;
  padding: 40px;
  text-align: center;
  min-width:370px;
}

.info-full {
  max-width: 100%;
  padding: 40px;
  border-top: 1px solid #8dcbdc;
}

.info-description {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 2em;
}



/* BIGTEXT STYLES */
.bigtext {
    font-family: Helvetica, Arial;
    font-weight: 700;
    text-align: center;
}
.bigtext > span {
    line-height: 0.95em;
}
.bigtext-descr {
  padding-top: 1.5em;
  text-align: center;
}

/* footer */
footer {
  width: 100%;
  background-color: #ffffff;
  color: #58595b;
  padding-top: 50px;
  padding-bottom: 50px;
  height:100%;
  clear:both;
}

footer a {
  color: #58595b;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: none;
  color:#41a8c4;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

/* Navigation */
.nav-full {
  border-bottom: 1px solid white;
}
.main-nav {
  background: #41a8c4;
  height: 60px;
  z-index: 150;
  margin-bottom: -60px;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 10px;
}

.nav-shadow {
  -webkit-box-shadow: 0 -4px 0px 4px #41a8c4,0 2px 4px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 -4px 0px 4px #41a8c4,0 2px 4px 0 rgba(0,0,0,0.1);
  box-shadow: 0 -4px 0px 4px #41a8c4,0 2px 4px 0 rgba(0,0,0,0.1);
  /*border-bottom: 1px solid #2F98B4;*/
}
.nav-links {
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
.nav-links > a {
  padding: 30px;
}

.anchor{
  display: block;
  height: 80px; /*same height as header*/
  margin-top: -80px; /*same height as header*/
  visibility: hidden;
}



/*.navbar-default .navbar-toggle {
  border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover {
  background-color: white;
  -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}
.navbar-default .navbar-toggle:hover .icon-bar{
  background-color: #41a8c4;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
.navbar-default .navbar-toggle:focus {
  background-color: white;
}

.navbar-default .navbar-toggle:focus .icon-bar{
  background-color: #41a8c4;
}*/

/*

.navbar-default .navbar-brand {
    color: white;
    font-weight: 500;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    opacity:0.5;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #41a8c4;
    background-color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #41a8c4;
    background-color: white;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
*/

/*Pin the top nav to the top while scrolling*/
.navbar-default {
  position:fixed;
  left:0px;
  top:0px;
  z-index: 1;
  width: 100%;
}

/* Frequently Asked Questions*/
.btn-mj {
  color: #58595b;
  background-color: white;
  margin: 2em 1em 1em 1em;
}
.btn-mj:hover {
  color: white;
  background-color: #41a8c4; 
  border: 1px solid white;
  -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}


/* Show and affix the side nav when space allows it */
@media(max-width:767px){
  .info-date, .info-data {display:none;}
  .info-header {text-align: center;}
  .infographic {border: none;}
  .main-content {padding:0;}
  .btn-mj {margin-top:1em;}
  footer {
    padding-top: 2em;
  }
  .footer-content {margin-top: 2em;}
  .main-nav {display: none;}
}
@media(min-width:768px){}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) { 
  .fb, .fb:hover,
  .twitter, .twitter:hover,
  .gplus, .gplus:hover {
    /* Reference the @2x Sprite */
    background-image: url('../images/share-2x.png');
    /* Translate the @2x sprite's dimensions back to 1x */
    background-size: 50px 307px; 
  }


