<h2>FAQ</h2>

<div class="panel-group" id="accordion">
  {% for item in site.posts %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#accordion{{forloop.index}}">
          {{ item.question }}
        </a>
      </h4>
    </div>
    <div id="accordion{{forloop.index}}" class="panel-collapse collapse">
      <div class="panel-body">
        {{ item.content }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div id="faq-area" style="width:100%;"></div>