<div class="info-group center">
  <div class="info-header">
    <span class="info-title">Frequently Asked Questions</span>
  </div>

  <div class="info-full">

    If you'd like to learn more about Denver's Marijuana Policy for residents and businesses, visit the links below. <br>

    <a target="_blank" href="https://www.colorado.gov/marijuanainfodenver"><button class="btn btn-faq">Marijuana Policy for Residents</button></a>

    <a target="_blank" href="http://www.denvergov.org/businesslicensing/DenverBusiness%20ngCenter/RetailMarijuana/tabid/445028/Default.aspx"><button class="btn btn-faq" >Marijuana Policy for Businesses</button></a>
  </div> <!-- info-full -->
</div> <!-- info-group -->