<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="javascripts/bootstrap.js "></script>
        <script type="text/javascript" src="javascripts/DevExpressChartJS-13.2.7/globalize.min.js"></script>
        <script type="text/javascript" src="javascripts/DevExpressChartJS-13.2.7/dx.chartjs.js"></script>
        <script type="text/javascript" src="javascripts/crime.js"></script>
        <script type="text/javascript" src="javascripts/facilities.js"></script>
        <script type="text/javascript" src="javascripts/revenue.js"></script>
        <script type="text/javascript" src="javascripts/faq.js"></script>
        <script type="text/javascript" src="data/revenue.json"></script>
        <script type="text/javascript" src="data/facilities.json"></script>
        <script type="text/javascript" src="data/crime.json "></script>
        <script type="text/javascript" src="data/faq.json "></script>
    </head>
    <body data-spy="scroll" data-target=".navbar">
      
      {{ content }}  

      <footer class="col-sm-12">


            <div class="col-sm-3 col-sm-offset-2 flag-tag">
              <a href="http://codeforamerica.org/"><img class="center" alt="Code for America" src="images/flag_tag.svg" width="150"></a>
            </div>

            <div class="col-sm-6"> 
                <p>This interactive graphic is by the <a href="http://codeforamerica.org/">2014 Code for America Fellows in Denver</a>. The data represented is taken from open data provided by the <a href="http://www.denvergov.org/">City and County of Denver</a>.</p>
                <p>You can find more open data at <a href="http://data.denvergov.org">http://data.denvergov.org</a> and read more about this project <a href="#">here</a>.
            </div>

      </footer>
                
        
    </body>
</html>
