<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/redesign.css">
        <link rel="stylesheet" href="css/nv.d3.css">

        <script type="text/javascript" src="javascripts/bootstrap.js "></script>
        <script type="text/javascript" src="javascripts/DevExpressChartJS-13.2.7/globalize.min.js"></script>
        <script type="text/javascript" src="javascripts/DevExpressChartJS-13.2.7/dx.chartjs.js"></script>

        <script type="text/javascript" src="javascripts/d3.js"></script>
        <script type="text/javascript" src="javascripts/nv.d3.js"></script>

        <script type="text/javascript" src="javascripts/crime.js"></script>
        <script type="text/javascript" src="javascripts/facilities.js"></script>
        <script type="text/javascript" src="javascripts/revenue.js"></script>
        <script type="text/javascript" src="data/revenue.json"></script>
        <script type="text/javascript" src="data/facilities.json"></script>
        <script type="text/javascript" src="data/crime.json "></script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "46e4833a-a8e0-486e-9849-76d8fee2f6fe", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    </head>
    <body data-spy="scroll" data-target=".navbar">


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      
      {{ content }}  

      <footer class="col-sm-12">


            <div class="col-sm-3 col-sm-offset-2 flag-tag">
              <a href="http://codeforamerica.org/"><img class="center" alt="Code for America" src="images/flag_tag.svg" width="150"></a>
            </div>

            <div class="col-sm-6 footer-content"> 
                <p>This interactive graphic is by the <a href="http://codeforamerica.org/governments/denver/">2014 Code for America Fellows in Denver</a>. The data represented is taken from open data provided by the <a href="http://www.denvergov.org/">City and County of Denver</a>.</p>
                <p>You can find more open data at <a href="http://data.denvergov.org">http://data.denvergov.org</a>.</p>
            </div>

      </footer>

      <script type="text/javascript" src="javascripts/bigtext.js"></script>
      <script type="text/javascript">
      $(document).ready(function() {
        $('.bigtext').bigtext();
      });
      </script>
                
        
    </body>
</html>
